<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgames.mapper.AdminMapper">
	
	<select id="admin_ok" parameterType="String" resultType="com.dgames.domain.AdminVO">
		SELECT
			admin_id, admin_pw, admin_visit_date
		FROM
			dg_admin_acc
		WHERE
			admin_id = #{admin_id}		
	</select>
	
	<update id="login_date" parameterType="String">
		UPDATE
			dg_admin_acc
		SET
			admin_visit_date = sysdate
		WHERE
			admin_id = #{admin_id}
	</update>
</mapper>