<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgames.mapper.AdProductMapper">
	
	<insert id="game_insert" parameterType="com.dgames.domain.GameVO">
		INSERT INTO
			DG_GAMES(
				game_id,
				platform_code, 
				game_title, 
				genre_code, 
				game_price, 
				game_discount, 
				publisher_code, 
				game_description, 
				game_language, 
				img_up_folder, 
				game_img, 
				game_status
			)
		VALUES(
			seq_game_id.NEXTVAL,
			#{platform_code},
			#{game_title},
			#{genre_code},
			#{game_price},
			#{game_discount},
			#{publisher_code},
			#{game_description},
			#{game_language},
			#{img_up_folder},
			#{game_img},
			#{game_status}
		)
	</insert>
</mapper>